<h1>Listing taxons</h1>

<table>
  <tr>
    <th>Scientificname</th>
    <th>Specific</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxons.each do |taxon| %>
  <tr>
    <td><%= taxon.scientificname %></td>
    <td><%= taxon.specific_id %></td>
    <td><%= link_to 'Show', taxon %></td>
    <td><%= link_to 'Edit', edit_taxon_path(taxon) %></td>
    <td><%= link_to 'Destroy', taxon, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxon', new_taxon_path %>
