<h1>Listing counties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Created By</th>
    <th>Updated By</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @counties.each do |county| %>
  <tr>
    <td><%= county.name %></td>
    <td><%= county.creator.email unless county.creator.nil? %></td>
    <td><%= county.updater.email unless county.updater.nil? %></td>
    <td><%= link_to 'Show', county %></td>
    <td><%= link_to 'Edit', edit_county_path(county) %></td>
    <td><%= link_to 'Destroy', county, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New County', new_county_path %>
