<script>
	$().ready( function() {
		var editor = new wysihtml5.Editor("record_details", { // id of textarea element
		  toolbar:      "wysihtml5-toolbar", // id of toolbar element
		  parserRules:  wysihtml5ParserRules // defined in parser rules set 
		});
});

</script>


<style>

@import "http://datatables.net/media/css/header.ccss";
@import "http://datatables.net/release-datatables/media/css/demo_table_jui.css";

	div.multiSelectOptions label input {
		display: inline;
	}
	
	iframe {
	  width: 400px;
	}
	
	#recordForm {
		background-color:#FFFFFF;
		width: 980px;
	}
	
	#formContainer {
		padding-left:40px;
		padding-top: 20px;
	}
	

	

	
</style>

<div id="recordForm">
<div id="formContainer">

</br>

<%= form_for @record do |f| %>

	<%= f.label :number %>
	<%= f.text_field :number %>

	<br/>
	<br/>

	<%= f.label :Bird %>
	<%= select("record", "bird_id", Bird.all.collect {|b| [ b.common, b.id ] }, {:include_blank => 'None'}) %>
	
	<br/>
	<br/>
	
	<%= f.label :status %>
	<%= select("record", "status_id", Status.all.collect {|s| [ s.name, s.id ] }, {:include_blank => 'None'}) %>
	
	<br/>
	<br/>
	<%= f.label :Quantity %>
  <%= f.text_field :quantity %>

	<br/>
	<br/>

	<%= f.label :Start_Date %>
	<%= f.date_select :start_date %>

	<br/>
	<br/>
	
	<%= f.label :End_Date %>
	<%= f.date_select :end_date %>

	<br/>
	<br/>
	
	<%= f.label :Age_and_Gender %>
	<%= f.text_field :age_gender %>

	<br/>
	<br/>
	
	<%= f.label :observers %>
	<%= f.text_field :observers %>

	<br/>
	<br/>
	
	<%= f.label :location %>
	<%= f.text_field :location %>

	<br/>
	<br/>

	<%= f.label :Counties %>
	<%= f.select(:county_ids, County.all.collect {|c| [ c.name, c.id ] }, {:include_blank => 'None'}, {:multiple =>true}) %>
	
	<br/>
	<br/>
	<%= f.label :References %>
	<%= f.select(:reference_ids, Reference.all.collect {|r| [ r.name, r.id ] }, {:include_blank => 'None'}, {:multiple =>true}) %>
	
	<br/>
	<br/>
	
	<%= f.label :Details %>
	<div id="wysihtml-editor">
	<div id="wysihtml5-toolbar" style="display: none;">
	  <a data-wysihtml5-command="bold">bold</a> |
	  <a data-wysihtml5-command="italic">italic</a> |

      <a data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a> |
      <a data-wysihtml5-command="insertOrderedList">insertOrderedList</a> |

	  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
	  <a data-wysihtml5-command="createLink">insert link</a>
	  <div data-wysihtml5-dialog="createLink" style="display: none;">
	    <label>
	      Link:
	      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
	    </label>
	    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
	  </div>
	</div>

	<%= f.text_area :details %>
	</div>
	
	<br/>
	<br/>
  <%= f.submit "Submit", class: "btn btn-large btn-primary"%>

<% end %>

</div>
</div>











