<script type="text/javascript" charset="utf8">

  $(document).ready( function () {
    $('#records-table').DataTable();
  } );
</script>

<div>
<table class="display" style="width:100%" id="records-table">
	<thead>
  		<tr>
			  <th style=" display: inline !important width: 50px;">Seq</th>
    		<th>Species</th>
    		<th>Status</th>
			  <th>Year</th>
			  <th>County</th>
			  <th>Reference</th>
			  <th></th>
  		</tr>
	</thead>

	<tbody>
		  <% @records.each do |record| %>
	  		<tr>
				  <td><%= record.bird&.sequence %></td>
			    <td><%= record.bird&.common %></td>
			    <td><%= record.status&.name %></td>
			    <td><%= record.start_date.year %></td>
					<td><%= record.location %></td>
					<td><%= record.number %></td>
			    <td><%= link_to "View", record_path(record)%></td>
	  		</tr>
		  <% end %>
	  </tbody>


	<tfoot>
	<!--tr>
		<th><input type="text" placeholder="Search Sequence" class="search_init" /></th>
		<th><input type="text" placeholder="Search Taxon" class="search_init" /></th>
		<th><input type="text" placeholder="Search Status" class="search_init"/></th>
		<th><input type="text" placeholder="Search Year" class="search_init"  /></th>
		<th><input type="text" placeholder="Search County" class="search_init"  /></th>
		<th><input type="text" placeholder="Search Reference" class="search_init" /></th>
		<th style="display: none;" ></th>
	</tr-->
	</tfoot>


</table>



<br />

</div> 
