<div id="content" >


<div class="boxed">



<p id="notice"><%= notice %></p>

<dl>

  <dt>Species/Form in Question</dt>
  <dd><%= @record.bird.common %></dd>

</br>
  <dt>Current Status of Record:</dt>
  <dd><%= @record.status.name %></dd>

	</br>
  <dt>Quantity:</dt>
  <dd><%= @record.quantity %></dd>
	</br>
	<dt>Counties Observed in:</dt>
	<%  @record.counties.each do |county| %>
	<dd><%= county.name %></dd>	
	<% end %>
	
	</br>
	
	<dt>Date of Initial Sighting:</dt>
	<dd><%= @record.start_date %></dd>	
	
	<br/>
	
	<dt>Details</dt>
	<%= @record.details.html_safe %>

</dl>

<p> More Stuff Goes Here</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>

</div>
</div>
