<div id="content" >
	<div style="float:right"><img src="http://my-free-css-templates.com/previews/122/images/img08.jpg" width="820" height="220"/></div>	

<div class="boxed">
<div class="demo_jui">


<p id="notice"><%= notice %></p>

<p>
  <b>Taxon:</b>
  <%= @record.bird.common %>
</p>

<p>
  <b>Status:</b>
  <%= @record.status.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @record.quantity %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>


</div>
</div>
</div>
