



<div id="recordForm">
<div id="formContainer">
<%= form_for @bird do |f| %>

	<%= f.label :Common %>
	<%= f.text_field :common %>

	<br/>
	<br/>

	<%= f.label :Scientific %>
	<%= f.text_field :scientific %>
	
  <br/>
	<br/>

	<%= f.label :Sequence %>
	<%= f.text_field :sequence %>
	
	<br/>
	<br/>

  <%= f.submit "Submit", class: "btn btn-large btn-primary"%>
  
<% end %>


</div>
</div>
