<script type="text/javascript" charset="utf8">

  $(document).ready( function () {
    $('#birds-table').DataTable();
  } );
</script>

<div id="content">
	
  <table class="display" style="width:100%" id="birds-table">
		<thead>
	  		<tr>
			    <th>Common</th>
			    <th>Scientific</th>
			    <th>Sequence</th>
				  <th>Action</th>
	  		</tr>
		</thead>

	  <tbody>
		  <% @birds.each do |bird| %>
	  		<tr>
			    <td><%= bird.common %></td>
			    <td><%= bird.scientific %></td>
			    <td><%= bird.sequence %></td>
			    <td><%= link_to "View", bird_path(bird)%></td>
	  		</tr>
		  <% end %>
	  </tbody>

	  <tfoot>
	  <tr>
		  <th><input type="text" value="Search Common" class="search_init" /></th>
		  <th><input type="text" value="Search Scientific" class="search_init" /></th>
		  <th><input type="text" value="Search Sequence" class="search_init" /></th>
	   </tr>
	  </tfoot>


	</table>


<br />

<%= link_to 'New Bird', new_bird_path %>


</div>