<!DOCTYPE html>
<html>
<head>
  <title>Iorc2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= javascript_include_tag "application", "data-turbo-track": "reload" %>
	<%= javascript_include_tag "https://code.jquery.com/jquery-3.6.3.min.js" %>
	<%= javascript_importmap_tags %>

</head>

<body>
  <div id="user_nav">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
  </div>
  <div id="page">
	  <div id="sidebar">
	    <div id="logo">
		    <h2><a href="http://www.illinoisbirds.org/">The Illinois Ornithological Research and Data Committee</a></h2>
	    </div>
    </div>
		<div id="header" >
			<a href="#">IOS</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li id="rare"><a href="/records">Rare Bird Records</a></li>
            <li id="published"><a href="/publications">Published Records</a></li>
            <li id="birds"><a href="/birds">Birds</a></li>
			<% if user_signed_in? %>
            	<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              		<ul class="dropdown-menu">
						<% if can? :create, @bird %>
                			<li><a href="/birds/new">Add a Bird to Checklist</a></li>
						<% end %>
						<% if can? :create, @record %>
                		<li><a href="/records/new">Create a Rare Bird Record</a></li>
						<% end %>
						<% if can? :create, @publication %>
                			<li><a href="/publications/new">Create a Published Record</a></li>
						<% end %>
						<% if can? :create, @reference %>
							<li><a href="/references/new">Add a Volume/Reference</a></li>
						<% end %>
						<li><%= link_to 'Edit profile', edit_user_registration_path %></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              		</ul>
            	</li>
			<% end %>
          </ul>
        </div><!-- /.nav-collapse -->
    </div>
    <%= yield %>
  </div>

</body>
</html>
