<!DOCTYPE html>
<html>
<head>
  <title>Iorc2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>

	<style type="text/css" title="currentStyle">

		@import "http://my-free-css-templates.com/previews/122/default.css";
		
		#sidebar {
			float: left;
			width: 160px;
		}
		
		#header {
			float: right;
			width: 820px;
		}
		
		#content {
			float: right;
			width: 980px;
		}

		th {text-decoration:underline;}

		</style>
	</style>







</head>
<body>
<div id="page">
<div id="sidebar">
	<div id="logo">
		<h1><a href="#">IORC</a></h1>
		<h2><a href="http://www.illinoisbirds.org/">The Illinois Ornithological Society</a></h2>
	</div>

</div>	<!-- sidebar-->

<div id="header" >
	<div style="float:right"><img src="http://my-free-css-templates.com/previews/122/images/img08.jpg" width="820" height="220"/></div>	
</div>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="http://www.illinoisbirds.org">IOS Home</a>
      <%= tabs %>
    </div>
  </div>
</div>
<%= yield %>
</div>   <!-- page  -->
</body>
</html>
